Source: ros-hydro-mr-tools
Section: misc
Priority: extra
Maintainer: Igor Makhtes <igor@cogniteam.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-nav-msgs, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-tf
Homepage: http://www.ros.org/wiki/mr_tools
Standards-Version: 3.9.2

Package: ros-hydro-mr-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-nav-msgs, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-tf
Description: Some useful nodes for multi-robot teleoperation
